.agent-view{
	background-color: #EEE;
}
.agent-item{
	padding: 8px !important;
}
.agent-name-div span{
	position: absolute !important;
}
.name-item-span{
	top: 25px !important;
	left:65px !important;
}
.agent-star{
	margin-left: 10px;
}
.tips-span{
	top: 51px !important;
    margin-left: 2px;
    height: 14px;
    line-height: 12px;
    font-size: 8px;
    /* right: 0px !important; */
    /*background-color: #999;*/
    color: #999;
    left: 73px;
}
.birthday-span{
	top: 20px !important;
	height: 25px;
	left: 140px;
}
.agent-name-div input{
	font-size: 25px;
	font-weight: bold;
	padding-left: 59px;
}
.name-item{
	padding: 15px !important;
	min-height: 60px !important;
	border: 0px !important;
}
.name-item img{
	top:12px !important;
}
.history-label{
	line-height: 33px !important;
    text-align: right !important;
}
.top-name-row{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.agent-title-div{
	height: 22px;
	width: 100%;
	color: #A49999;
	font-size: 10px;
	padding-left: 25px;
}
.agent-title-div a{
	position: absolute;
    left: 40%;
}
.letter-spacing3{
	letter-spacing: 3px !important;
}
.agent-item-label{
	padding-left: 30px;
}
.agent-man-item{
	padding: 8px !important;
}
.agent-name-item{
	padding: 0px !important;
}
.agent-detail-item{
	min-height: 0px !important;
}
.agent-detail-item img{
	top: 4px !important;
}